/*
	Toolshare SWEN 261 
	Team 1
	Thomas Heissenberger
	Rochester Institute of Technology
*/

body{
	background-color: slategrey;

}

img.logo{
	padding-top: 1em;
	padding-left: 1em;
	text-align: left;
}

div.menu{
	text-align: right;
	float: right;
	width: 50%;
	padding-top: .5em;
	padding-right: .5em;
	font-family: 'Tahoma';
}

div.center{
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	text-align: center;
	float: center;
}


div.list{
	width: 400px;
	text-align: left;
	margin: 0 auto;
	margin-top: 2em;

}

b{
	font-family: 'Tahoma';
	color: white;
}

