/*
	Toolshare SWEN 261 
	Team 1
	Thomas Heissenberger
	Rochester Institute of Technology

	registration css style sheet
*/
body{
	background-color: slategrey;
}

div.center{
	margin: 0 auto;
	width: 10%;
	text-align: center;
}

p {
	text-align: center;
	color: white;
}